<head>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/menu.css">
    <link rel="stylesheet" href="../../css/navbar.css">
</head>

<%- include('partials/navbar') %>
<div class="stories-wrapper" style="width: 100vw; min-height: 100vh; overflow-y: scroll;">
    <div id="mystories" class="heading">
      <h2>Stories</h2>
    </div>
    <div id="stories" class="stories">
      <% postList.forEach((element, index) => { %>
      <div id="pinnedelement<%= index %>" class="flex-container">
        <div class="feature-content">
          <div class="image" style="background: url('<%= element.fileurl %>') no-repeat center;"></div>
          <h2 class="feature-content-title"><%= trimmedHeading[index] %>...</h2>
          <p class="feature-content-description">
            <%= trimmedContent[index] %>...
          </p>
          <a href="../../stories/<%= index %>" class="feature-content-link black-button">Read More</a>
        </div>
      </div>
      <% }); %>
    </div>
  </div>

 <% if(uid!=undefined) {%> 
<div class="logout"><a href="/logout">Logout</a></div>
<% } %>