<head>
  <link rel="stylesheet" href="../css/dashboard.css" />
  <link rel="stylesheet" href="../css/styles.css">
</head>

<div class="main">
  <nav class="navbar">
    <div>Welcome, <%= name %></div>
    <div><a href="/logout">Logout</a></div>
  </nav>

  <div class="form-content">
    <form action="../uploadPost" method="POST" id="form1" target="_blank">
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;Title</h3>
      <input type="text" name="title" id="title" style="font-weight: 600;" />
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;Content</h3>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;Place</h3>
      <input type="text" name="place" id="place" />
    </form>
    <form
      id="uploadForm"
      action="https://script.google.com/macros/s/AKfycbzj8DKOem_jqQeU7hyxhN2-ZURZ1jnYto7C7GW3LV0/dev"
      method="POST"
    >
      <input type="hidden" name="fileContent" id="fileContent" />
      <input type="hidden" name="filename" id="filename" />
      <input type="hidden" name="fileLocation" id="fileLocation">
      <input type="hidden" name="uid" id="uid" value="<%= uid %>" />
    </form>
  </div>
  <div class="files">
    <input type="file" name="attach" id="attach" accept="image/*" required />
    <label for="attach" class="uploadBtn"> upload</label>
    <input id="submit" type="button" value="SUBMIT" onclick="UploadFile();" />
  </div>

  <div class="myposts">
    <h1>My posts</h1>
    <% if(loading) { %>
      <div class="spinner" style="position: absolute; left: 50%;"></div>
    <% } else {
      if(posts.length > 0){
        posts.forEach((element) => { %>
          <strong><span class="title"><%= element.title %></span></strong><br>
          <strong><span class="place"><%= element.place %></span>
          <span class="date"><%= element.post_date.toDateString() %></span></strong><br>
          <p class="content"><%= element.content %></p>
          <img src="<%= element.fileurl %>" />
    <% });} else { %>
      <span>No posts yet...</span>
    <% }} %> 
  </div>
</div>