<link rel="stylesheet" href="/css/stories.css" />
<div id="stories" class="stories">
  <div
    id="bgImage"
    class="bgImage"
    style="background: url(<%= fileurl %>) no-repeat;"
  ></div>
  <div id="logo">
    <h2>.xylo</h2>
  </div>
  <div class="heading">
    <h1 class="title"><%= obj.print[0].title %></h1>
  </div>

  <div class="content">
    <span id="date"><%= obj.print[0].post_date.toDateString() %></span>&nbsp;
    <span>✦</span>
    <span id="place"><%= obj.print[0].place %></span>
    <h1 id="title"><%= obj.print[0].title %></h1>
    <p id="story">
      <%= obj.print[0].content %>
    </p>
    <br>
    <p>- <span style="font-style: italic; color:#6dd1f2"><%= obj.print[0].author %></span></p>
    <br>
    <p>
      _______________________________________________________________________________________
    </p>
  </div>
  <% if(uid != undefined) { %>
  <div class="reaction">
    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i><%= obj.print[0].likeCount %></span>
    <span><i class="fa fa-heart" aria-hidden="true"></i><%= obj.print[0].loveCount %></span>
  </div>
  <% } %>
  <div class="comments">
    <span id="Heading">Comments</span> <br />
    <% if(comment.length > 0) { for(let i = 0; i < comment.length; i++) { var
    element = comment[i]; %>
    <br>
    <label style="color: red;"><%= element.person_name %>:</label>
    <% if(element.person_name == obj.print[0].author) { %>
      <label>AUTHOR</label>
    <% } %>
    <br><br>
    &nbsp;<label><%= element.content %></label>
    <% }}else{ %> <br>No comments yet... <% } %>
    <br />

    <% if(uid != undefined) { %>
    <form method="POST">
      <br>
      <input type="hidden" name="post_id" value="<%= obj.print[0].id %>"/>
      <br>
      <label>Add a comment:</label>
      <br />
      <textarea
        id="content-comment"
        cols="100"
        rows="2"
        maxlength="140"
        name="content"
      ></textarea>
      <script>
        content.oninput = function() {
          remaining.innerHTML =
            140 - content.value.length + " characters remaining...";
        };
      </script>
      <br />
      <label id="remaining"></label>
      <br />
      <input id="submit-button" type="submit" value="Add comment" />
    </form>
    <% } %>
  </div>
</div>
