<head>
  <link rel="stylesheet" href="/css/stories.css" />
  <link rel="stylesheet" href="/css/menu.css" />
  <link rel="stylesheet" href="/css/navbarstories.css" />
  <script src="/javascripts/app.js"></script>
</head>

<%- include('partials/navbar') %>
<div id="stories" class="stories">
  <div
    id="bgImage"
    class="bgImage"
    style="background-image: url(<%= fileurl %>);"
  ></div>
  <div id="logo">
    <h2>.xylo</h2>
  </div>
  <div class="heading">
    <h1 class="title"><%= obj.print[0].title %></h1>
  </div>

  <div class="content">
    <span id="date"><%= obj.print[0].post_date.toDateString() %></span>&nbsp;
    <span>✦</span>
    <span id="place"><%= obj.print[0].place %></span>
    <h1 id="title"><%= obj.print[0].title %></h1>
    <p id="story">
      <%= obj.print[0].content %>
    </p>
    <br />
    <p>
      -
      <span style="font-style: italic; color:#6dd1f2"
        ><%= obj.print[0].author %></span
      >
    </p>
    <br />
    <p>
      _______________________________________________________________________________________
    </p>
  </div>

  <div class="reaction">
    <% if(uid != undefined) { %>
    <form method="POST" id="likeDislikeForm">
      <input type="hidden" name="post_id" value="<%= obj.print[0].id %>" />
      <input type="hidden" id="ld" name="ld" />
      <span id="likeIcon" onclick="react(this)" style="cursor: pointer;"
        ><i class="fa fa-thumbs-up" aria-hidden="true"></i><%= likes %></span
      >
      <span id="dislikeIcon" onclick="react(this)" style="cursor: pointer;"
        ><i class="fa fa-thumbs-down" aria-hidden="true"></i><%= dislikes
        %></span
      >
    </form>
    <% } else { %>
    <span id="likes"
      ><i class="fa fa-thumbs-up" aria-hidden="true"></i><%= likes %></span
    >&emsp;
    <span id="dislikes"
      ><i class="fa fa-thumbs-down" aria-hidden="true"></i><%= dislikes %></span
    >
    <% } %>
  </div>

  <div class="comments">
    <span id="Heading">Comments</span> <br />
    <% if(comment.length > 0) { for(let i = 0; i < comment.length; i++) { var
    element = comment[i]; %>
    <br />
    <p style="line-height: 25px;">
      <label style="color: red;"><%= element.person_name %>:</label>
      <% if(element.person_name == obj.print[0].author) { %>
      <label style="color: #6dd1f2;">AUTHOR</label>
      <br />
      <% } %> &nbsp;<label><%= element.content %></label>
    </p>
    <% }}else{ %> <br />No comments yet... <% } %>
    <br />

    <% if(uid != undefined) { %>
    <form method="POST">
      <br />
      <input type="hidden" name="post_id" value="<%= obj.print[0].id %>" />
      <br />
      <label>Add a comment:</label>
      <br />
      <textarea
        id="content-comment"
        cols="100"
        rows="2"
        maxlength="140"
        name="content"
      ></textarea>
      <script>
        content.oninput = function() {
          remaining.innerHTML =
            140 - content.value.length + " characters remaining...";
        };
      </script>
      <br />
      <label id="remaining"></label>
      <br />
      <input id="submit-button" type="submit" value="Add comment" />
    </form>
    <% } %> <% if(curId < (maxL - 1)) { %>
    <div
      class="nextStory"
      onclick="next('<%= curId %>', 1)"
      style="right: 5px;"
    >
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <% } %> <% if(curId != 0) { %>
    <div
      class="prevStory"
      onclick="next('<%= curId %>', -1)"
      style="left: 5px;"
    >
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </div>
    <% } %>
  </div>
</div>

<% if(uid!=undefined) {%>
<div class="logout"><a href="/logout">Logout</a></div>
<% } %>

<script>
  function next(num, pos) {
    let url = window.location.href;
    let loc = url.indexOf("stories");
    let addValue = pos == 1 ? 1 : -1;
    window.location.href =
      url.substring(0, loc + 7) + `/${parseInt(num) + addValue}`;
  }
</script>
