<!--in users database add comments fields and attach them to the required sections-->
<!--goto http://www.cookiesound.com/ for inspiration-->
<link rel="stylesheet" href="/css/stories.css">
<div id="stories" class="stories">
    <div id="bgImage" class="bgImage"></div>
    <div id="logo">
        <h2>.xylo</h2>
    </div>
    <div class="heading">
        <h1 class="title"><%= obj.print[0].title %></h1>
    </div>

    <div class="content">
        <span id="date"><%= obj.print[0].date %></span>&nbsp;
        <span>✦</span>
        <span id="place"><%= obj.print[0].place %></span>
        <h1 id="title"><%= obj.print[0].title %></h1>
        <p id="story">
            <%= obj.print[0].content %>
        </p>
        <br>
        <p>_______________________________________________________________________________________</p>
    </div>
    <div class="comments">
        <h1 id="comment-heading">Comments:</h1>
        <br><br>
        <strong><h4 id="name">Abraham Lincoln</h6></strong>
        <br>
        <p id="comment-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nostrum.
        </p>
    </div>
</div>
